{% extends "ac_match/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <img class="rounded-circle article-img" src="{{ post.author.profile.image.url }}">
          <div class="header">
             <div class="article-metadata">
              <h6>@{{ post.author }}</h6>
              <h6 class="text-muted">{{ post.date_posted|date:"F d, Y" }}</h6>
            </div> 
            <h4><a class="article-title" href="{% url 'post-detail' post.id %}">{{ post.title }}</a></h4>
            <p class="article-content">{{ post.content }}</p>
            
            <h5>I'm trading: </h5>
            <img src= '{{post.author.last_name}}'>
          </div> 

        </article>
    {% endfor %}
{% endblock content %}

