body {
    background: #FFDECE;
    color: #333333;
    margin-top: 5rem;
    font-family: 'Nunito', sans-serif;
  }

  h1, h4 {
    color: #444444;
    font-weight: 600;
    font-family: 'Nunito', sans-serif;
  }

 h2, h3, h5, h6 {
    color: #444444;
    font-weight: 400;
    font-family: 'Nunito', sans-serif;
  }

  p {
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 0px 0px 40px 0px;
  }
  
  ul {
    margin: 0;
  }
  
  .bg-green {
    background-color: #C3E8BD;
  }

  mr-4{
    background-color: #136F63;
  }
  
  .site-header .navbar-nav .nav-link {
    color: #136F63;
  }
  
  .site-header .navbar-nav .nav-link:hover {
    color: #FFAD86;
  }
  
  .site-header .navbar-nav .nav-link.active {
    font-weight: 500;
  }
  
  .content-section {
    background: #FFFDEE;
    padding: 10px 20px;
    border: 2px solid #C3E8BD;
    border-radius: 25px;
    margin-bottom: 20px;
  }
  
  .article-title {
    color: #444444;
  }
  
  a.article-title:hover {
    color: #9CD393;
    text-decoration: none;
  }
  
  .article-content {
    white-space: pre-line;
  }
  
  .article-img {
    height: 65px;
    width: 65px;
    margin-right: 16px;
  }
  
  .article-metadata {
    padding-bottom: 1px;
    margin-bottom: 4px;
    border-bottom: 1px solid #e3e3e3
  }
  
  .article-metadata a:hover {
    color: #333;
    text-decoration: none;
  }
  
  .article-svg {
    width: 25px;
    height: 25px;
    vertical-align: middle;
  }
  
  .account-img {
    height: 125px;
    width: 125px;
    margin-right: 20px;
    margin-bottom: 16px;
  }
  
  .account-heading {
    font-size: 2.5rem;
  }
  .check{
    opacity:0.5;
	color:#996;
	
  }
  .img-thumbnail{
    max-width: 400%;
  }
  .btn-primary{
    width: 160px;
    background-color: #136F63;
    border-color: #136F63;
  }
  .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open>.dropdown-toggle.btn-primary {
    color: #FFFDEE;
    background-color: #C3E8BD;
    border-color: #136F63; /*set the color you want here*/
  }
  .trade_check{
      background-color: #136F63;
      color: #136F63;
  }