{% extends "ac_match/base.html" %}
{% block content %}
<div class="container">
    <div class="row">
    <a class="btn btn-primary" href="{% url 'profile' %}" role="button">Add to profile </a>
    </div>
    <br/><br/>
    <div class="row">
        {% for img in images %}
        <div class="col"><label class="btn btn-primary"><img src= '{{img}}' alt="..." class="img-thumbnail img-check"><input class = "trade_check" type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
        {% endfor %}
        {% for img in images2 %}
        <div class="col"><label class="btn btn-primary"><img src= '{{img}}' alt="..." class="img-thumbnail img-check"><input class = "trade_check" type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
        {% endfor %}
        {% for img in images3 %}
        <div class="col"><label class="btn btn-primary"><img src= '{{img}}' alt="..." class="img-thumbnail img-check"><input class = "trade_check" type="checkbox" name="chk1" id="item4" value="val1" class="hidden" autocomplete="off"></label></div>
        {% endfor %}
    </div>
</div>
<script language="JavaScript">
    $(document).ready(function(e){
    	$(".img-check").click(function(){
			$(this).toggleClass("check");
		});
	});
</script>
{% endblock content %}